* {
    padding: 0;
    box-sizing: border-box;
    font-family: Edu Tas Beginner, sans-serif;
}
/************** SETTAGGIO REGOLE HEADER ****************/
header{
    background-image: url(../img/wall.png);
    background-size: contain;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}
header h1 {
    font-weight: bolder;
    font-size: 50px;
}

/************** SETTAGGIO REGOLE DEL MAIN ****************/
main {
    background-image: url(../img/cork.png);
    background-size: contain;
    background-image: calc(100vh - 150px);
    min-height: 100vh; 
}
/* REGOLE CONTAINER DELLE CARD */
.container-card {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*** REGOLE CARD ***/
.card {
    min-width: 20rem;
    margin-bottom: 20px;
    position: relative;
}
/*** HOVER regole rotazione card ***/
.card-hover:hover {
    transition-duration: 1s;
    transform: translate(10px, 20px) scale(1.2) rotate(15deg);
    z-index: 35;
    cursor: pointer;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 1);
}
/*** REGOLE PIN ROSSO DEL CARD ***/
.pin-dimension {
    position: fixed;
    width: 9%;
    z-index: 30;
    left: 48%;
    bottom: 94%;
}

/*** REGOLE TESTO DATA DEL CARD ***/
.text {
    font-family: Sometype Mono, monospace;
    color: gray;
    margin-bottom: 0px;
    font-size: 12px;
}

/* GESTIONE OVERLAY */
.overlay {
    position: absolute;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 60;
    background-color: rgba(10, 9, 9, 0.753);
}
.overlay-button {
    font-size: 20px;
    font-weight: bold;
    top: 9%;
    left: 500px;
    position: absolute;
    position: fixed;
    right: 36%;
    left: 42%;
    z-index: 60;
}
.img-overlay {
    position: absolute;
    width: 80%;
    top: 18%;
    right: 10%;
    z-index: 60;
}

/* VERSIONE TABLET */
/* Le regole si applicano solo per schermi tra 768px e 992px */
@media screen and (min-width: 768px) and (max-width: 992px){
    /************** SETTAGGIO REGOLE HEADER ****************/
    header h1 {
        font-size: 80px;
    }

    /* Container per le card */
    .container-card {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        max-width: 20rem;
        margin-bottom: 20px;
    }

    /* GESTIONE OVERLAY */
    .overlay {
        position: fixed;
        top: 0;  
        left: 0; 
        height: 100vh; /* Utilizza tutta l'altezza del viewport */
        width: 100vw;  /* Utilizza tutta la larghezza del viewport */
        background-color: rgba(10, 9, 9, 0.753);
        z-index: 60;
    }

    .overlay-button {
        font-size: 20px;
        font-weight: bold;
        top: 5%; 
        left: 50%;
        transform: translateX(-50%);  /* Centra il bottone orizzontalmente */
        position: absolute;
        z-index: 61;
    }

    .img-overlay {
        position: absolute;
        max-width: 40%; 
        top: 18%;
        left: 50%; 
        transform: translateX(-50%); /* Centra l'immagine orizzontalmente */
        z-index: 60;
    }
}

/* VERSIONE DESKTOP (da 922px in su) */
@media screen and (min-width: 922px) {
    header h1 {
        font-size: 80px;
    }

    .container-card {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        max-width: 16rem;
        margin-bottom: 20px;
    }

    /* GESTIONE OVERLAY */
    .overlay {
        background-color: rgba(10, 9, 9, 0.753);
    }

    .overlay-button {
        font-size: 20px;
        font-weight: bold;
        top: 3%;
        right: 45%;
        left: 44%;
    }

    .img-overlay {
        max-width: 37%;
        top: 15%;
        right: 39%;
        left: 32%;
    }
}