* {
    padding: 0;
    box-sizing: border-box;
    font-family: Edu Tas Beginner, sans-serif;
}
/************** SETTAGGIO REGOLE HEADER ****************/
header{
    background-image: url(../img/wall.png);
    height: 100px;
}
header h1 {
    font-weight: bolder;
    font-size: 80px;
}

/************** SETTAGGIO SFONDO DEL MAIN ****************/
main {
    background-image: url(../img/cork.png);
    height: calc(100vh - 100px); 
    overflow: auto;  
}


/************** DIMENSIONI PIN ****************/
.pin-dimension {
    width: 30px;
    z-index: 30;
    left: 145px;
    bottom: 360px;
}
/************** MOVIMENTO CARD ****************/
/* .card {
    max-width: 100%; */
/* } */
.card:hover {
    /* transform: rotate(35deg); */
    transition-duration: 1s;
    transform: translate(10px, 20px) scale(1.2) rotate(35deg);
    z-index: 35;


}

/************** DIMENSIONE CONTAINER LG ****************/
.text {
    font-family: Sometype Mono, monospace;
    color: gray;
    margin-bottom: 0px;
    font-size: 12px;
}



/************** MDEIA QUERY PER IL TITOLO IN VERSIONE MOBILE SM ****************/
@media (max-width: 576px) {
    header {
    display: flex;
    align-items: center
    };
    header h1 {
        font-size: 60px;
    }
    .container-query {
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 768px){
    .container-query {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .pin-dimension {
        width: 30px;
        z-index: 30;
        left: 125px;
        bottom: 326px;
    }

}
@media (max-width: 992px){
    .container-query {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .pin-dimension {
        width: 30px;
        z-index: 30;
        left: 147px;
        bottom: 362px;
    }
    
}