* {
    padding: 0;
    box-sizing: border-box;
    font-family: Edu Tas Beginner, sans-serif;
}
/************** SETTAGGIO REGOLE HEADER ****************/
header{
    background-image: url(../img/wall.png);
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}
header h1 {
    font-weight: bolder;
    font-size: 50px;
}

/************** SETTAGGIO REGOLE DEL MAIN ****************/
main {
    background-image: url(../img/cork.png);
    background-size: cover;
    height: calc(100vh - 150px);
    background-position: center;
    min-height: 100vh; 
    overflow-y: auto;
}
/* REGOLE CONTAINER DELLE CARD */
.container-card {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*** REGOLE CARD ***/
.card {
    min-width: 20rem;
    margin-bottom: 20px;
    position: relative;
}

/* GESTIONE OVERLAY */
.overlay {
    position: absolute;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 60;
    background-color: rgba(10, 9, 9, 0.753);
}
.overlay button {
    font-size: 20px;
    font-weight: bold;
    top: 3%;
    left: 500px;
    position: absolute;
    position: fixed;
    right: 47%;
    left: 47%;
}
.img-overlay {
    position: absolute;
    width: 30%;
    top: 14%;
    right: 35%;

}

/*** HOVER regole rotazione card ***/
.card-hover:hover {
    transition-duration: 1s;
    transform: translate(10px, 20px) scale(1.2) rotate(15deg);
    z-index: 35;
    cursor: pointer;
}
/*** REGOLE PIN ROSSO DEL CARD ***/
.pin-dimension {
    position: fixed;
    width: 9%;
    z-index: 30;
    left: 48%;
    bottom: 94%;
}


/*** REGOLE TESTO DATA DEL CARD ***/
.text {
    font-family: Sometype Mono, monospace;
    color: gray;
    margin-bottom: 0px;
    font-size: 12px;
}

/* VERSIONE TABLET */
@media screen and (min-width: 768px){
    /************** SETTAGGIO REGOLE HEADER ****************/
    header h1 {
        font-size: 80px;
    }
    .container-card {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 0;
    }
    .card {
        max-width: 20rem;
        margin-bottom: 20px;
        
    }
}
